doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='//cdn.jsdelivr.net/normalize/3.0.0/normalize.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    #container
    script(src='//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js')
    script(src='//raw.githack.com/empaempa/GLOW/160f359dd43305f2b4eb5fb3f9c6d9b14af0917f/build/GLOW.js')
    script(src='js/script.js')
